src/main/java/com/wonders/health/tumor/tumor/webservice/kws.wsdl


<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.winning.com.cn/KWS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.winning.com.cn/KWS/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.winning.com.cn/KWS/">
<s:element name="HelloWorld">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="InXml" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="HelloWorldResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WebBusiness">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="TranCode" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="InXml" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WebBusinessResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WebBusinessResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="DbSetting">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="settinginfo" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="DbSettingResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="DbSettingResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="settinginfo" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="string" nillable="true" type="s:string"/>
</s:schema>
</wsdl:types>
<wsdl:message name="HelloWorldSoapIn">
<wsdl:part name="parameters" element="tns:HelloWorld"/>
</wsdl:message>
<wsdl:message name="HelloWorldSoapOut">
<wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
</wsdl:message>
<wsdl:message name="WebBusinessSoapIn">
<wsdl:part name="parameters" element="tns:WebBusiness"/>
</wsdl:message>
<wsdl:message name="WebBusinessSoapOut">
<wsdl:part name="parameters" element="tns:WebBusinessResponse"/>
</wsdl:message>
<wsdl:message name="DbSettingSoapIn">
<wsdl:part name="parameters" element="tns:DbSetting"/>
</wsdl:message>
<wsdl:message name="DbSettingSoapOut">
<wsdl:part name="parameters" element="tns:DbSettingResponse"/>
</wsdl:message>
<wsdl:message name="HelloWorldHttpGetIn">
<wsdl:part name="InXml" type="s:string"/>
</wsdl:message>
<wsdl:message name="HelloWorldHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="WebBusinessHttpGetIn">
<wsdl:part name="TranCode" type="s:string"/>
<wsdl:part name="InXml" type="s:string"/>
</wsdl:message>
<wsdl:message name="WebBusinessHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="HelloWorldHttpPostIn">
<wsdl:part name="InXml" type="s:string"/>
</wsdl:message>
<wsdl:message name="HelloWorldHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="WebBusinessHttpPostIn">
<wsdl:part name="TranCode" type="s:string"/>
<wsdl:part name="InXml" type="s:string"/>
</wsdl:message>
<wsdl:message name="WebBusinessHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:portType name="KWSServiceSoap">
<wsdl:operation name="HelloWorld">
<wsdl:input message="tns:HelloWorldSoapIn"/>
<wsdl:output message="tns:HelloWorldSoapOut"/>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<wsdl:input message="tns:WebBusinessSoapIn"/>
<wsdl:output message="tns:WebBusinessSoapOut"/>
</wsdl:operation>
<wsdl:operation name="DbSetting">
<wsdl:input message="tns:DbSettingSoapIn"/>
<wsdl:output message="tns:DbSettingSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="KWSServiceHttpGet">
<wsdl:operation name="HelloWorld">
<wsdl:input message="tns:HelloWorldHttpGetIn"/>
<wsdl:output message="tns:HelloWorldHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<wsdl:input message="tns:WebBusinessHttpGetIn"/>
<wsdl:output message="tns:WebBusinessHttpGetOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="KWSServiceHttpPost">
<wsdl:operation name="HelloWorld">
<wsdl:input message="tns:HelloWorldHttpPostIn"/>
<wsdl:output message="tns:HelloWorldHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<wsdl:input message="tns:WebBusinessHttpPostIn"/>
<wsdl:output message="tns:WebBusinessHttpPostOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="KWSServiceSoap" type="tns:KWSServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="HelloWorld">
<soap:operation soapAction="http://www.winning.com.cn/KWS/HelloWorld" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<soap:operation soapAction="http://www.winning.com.cn/KWS/WebBusiness" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DbSetting">
<soap:operation soapAction="http://www.winning.com.cn/KWS/DbSetting" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="KWSServiceSoap12" type="tns:KWSServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="HelloWorld">
<soap12:operation soapAction="http://www.winning.com.cn/KWS/HelloWorld" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<soap12:operation soapAction="http://www.winning.com.cn/KWS/WebBusiness" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DbSetting">
<soap12:operation soapAction="http://www.winning.com.cn/KWS/DbSetting" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="KWSServiceHttpGet" type="tns:KWSServiceHttpGet">
<http:binding verb="GET"/>
<wsdl:operation name="HelloWorld">
<http:operation location="/HelloWorld"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<http:operation location="/WebBusiness"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="KWSServiceHttpPost" type="tns:KWSServiceHttpPost">
<http:binding verb="POST"/>
<wsdl:operation name="HelloWorld">
<http:operation location="/HelloWorld"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WebBusiness">
<http:operation location="/WebBusiness"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="KWSService">
<wsdl:port name="KWSServiceSoap" binding="tns:KWSServiceSoap">
<soap:address location="http://192.168.14.16:8089/KWSService.asmx"/>
</wsdl:port>
<wsdl:port name="KWSServiceSoap12" binding="tns:KWSServiceSoap12">
<soap12:address location="http://192.168.14.16:8089/KWSService.asmx"/>
</wsdl:port>
<wsdl:port name="KWSServiceHttpGet" binding="tns:KWSServiceHttpGet">
<http:address location="http://192.168.14.16:8089/KWSService.asmx"/>
</wsdl:port>
<wsdl:port name="KWSServiceHttpPost" binding="tns:KWSServiceHttpPost">
<http:address location="http://192.168.14.16:8089/KWSService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>